[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
dvc = "*"
"streamlit" = "*"
"plotly" = "*"
"pydantic" = "*"
"pyyaml" = "*"
lightfm = "*"
mlflow = "*"
visium-explore = "*"
streamlit-option-menu = "*"

[dev-packages]
pre-commit = "*"
setuptools-scm = "*"
visiumlint = "*"
semver = "*"
build = "*"
twine = "*"
pytest = "*"
ipykernel = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"
